.parrafo{
    color: blue;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1{
    color: brown;
}
.h2{
    color: aqua;
}
.h3{
    color: rgb(128, 255, 0);
}
.h4{
    color: rgb(235, 106, 13);
}
.h5{
    color: darkmagenta;
}
.h6{
    color: rgb(6, 165, 24);
}